@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --dark-background: #1b1610;
  --mid-dark: #392f23;
  --main-links: #766458;
  --highlight: #c5b9a3;
  --main-text: #edecea;
}

body {
  background-color: var(--dark-background);
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  color: var(--main-text);
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
